grant {
    permission java.lang.RuntimePermission "loadLibrary.MyCppProgram";
    permission java.util.PropertyPermission "java.library.path", "read";
    permission java.util.PropertyPermission "user.dir", "read";
};
